
<%- include('partials/header'); -%>
<h1><%=pageHead%></h1>
<p><%=pageContent%></p>
<div class="">
  <% posts.forEach((post)=>{ %>
    <a href="/posts/:<%= post.title %>" >
      <h2>
          <%= post.title %>
      </h2>
    </a>
    <p>Created on: <%= post.created %></p>
    <p>
      <%=post.post.substring(0,100)+"..."%> <a href="/posts/:<%= post.title %>" >Read More</a>
    </p>
    <% })%>
</div>
<%- include('partials/footer'); -%>
