
<%- include('partials/header'); -%>
<h1><%=title%> </h1><p>Created on: <%=created%></p>
<p style="font-size:18px"><%=content%></p>
<a href="/edit/:<%=title %>"><button type="button" class="btn btn-outline-dark">Edit</button></a>
<%- include('partials/footer'); -%>
